<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/admincss/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Admin Dashboard</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <!-- Employee Information Nav Start-->
                        <div class="sb-sidenav-menu-heading">Dashboard</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Employee
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/employeelist" cursor="pointer">Employee List</a>
                            </nav>
                        </div>

                        <!-- Employee Information Nav End-->


                        <!-- Ferry Information Nav Start-->

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFerry"
                            aria-expanded="false" aria-controls="collapseFerry">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Ferry
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseFerry" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/ferrylist" cursor="pointer">Ferry List</a>
                                <a class="nav-link" href="/addFerryName" cursor="pointer">Add Ferry Name</a>
                                <a class="nav-link" href="/addFerryRoute" cursor="pointer">Add Route Name</a>
                                <a class="nav-link" href="/addTimeSchedule" cursor="pointer">Add Time Schedule</a>
                            </nav>
                        </div>

                        <!-- Ferry Information Nav End-->

                        <!-- Ticket Information Nav Start-->

                        <a class="nav-link" href="/ticketinfo">Ticket</a>


                        <!-- Ticket Information Nav End-->

                    </div>
                </div>
            </nav>
        </div>


        <!-- Content Section Start -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">


                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel">Add Ferry Name</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form action="/addFerryName" method="post">
                                <label for="" class="form-label">Eneter Ferry Name</label>
                                <input type="text" name="ferryName" id="" class="form-control" placeholder="Enter Ferry Name">
                                <button class="btn btn-primary" type="submit">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <center>
                          <h2 class="mt-5">Ferry Name List</h2>
                        <br><br><br>
                        <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Add Ferry Name</a>
                      </center>


                      <br>
                      <br>
                      <div class="row">
                          <% if(ferryName.length>0) {%>
                            <% for(let i=0;i<ferryName.length;i++){ %>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1><%=ferryName[i].ferryName%></h1>
                                            <a href="/ferryNameDelete/<%= ferryName[i].id %>" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            <%}%>
                      </div>









                </div>
            </main>

            <!-- Content Section End -->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Musfiqua Haque Website 2022</div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/adminjs/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/adminjs/datatables-simple-demo.js"></script>


    
</body>

</html>