<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/profileStyle.css">
</head>
<body>

<h2 style="text-align:center; margin-top :-10px;">User Profile Card</h2>

<div class="card">
  <img src="/img/profileimage/profileimage1.jpg" alt="John" style="width:65%">
  <div class="profile-details">
    <table>
      <tr>
        <td>
          <label for="name">Full Name:</label>
        </td>
        <td>
          <p><%= employee.nameInput %></p>
        </td>
      </tr>
      
      <tr>
        <td>
          <label for="name">ID Number:</label>
        </td>
        <td>
          <p><%= employee.emplyeeid %></p>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name">Phone Number:</label>
        </td>
        <td>
          <p><%= employee.contactNumber %></p>
        </td>
      </tr>

      <tr>
        <td>
          <label for="name">Address:</label>
        </td>
        <td>
          <p><%= employee.address %></p>
        </td>
      </tr>
    </table>
  </div>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
</div>

</body>
</html>
